@page
@model ExternalLoginsModel
@using ChuckDeviceConfigurator.Configuration
@{
    ViewData["Title"] = "Manage your external logins";
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
    var authProviderIcons = AuthProviderConfig.AuthProviderIcons;
}

<partial name="_StatusMessage" for="StatusMessage" />
@if (Model.CurrentLogins?.Any() ?? false)
{
    <h3>Registered Login Providers</h3>
    <table class="table">
        <tbody>
            @foreach (var login in Model.CurrentLogins)
            {
                <tr>
                    <td id="@($"login-provider-{login.LoginProvider}")">
                        @if (authProviderIcons.ContainsKey(login.LoginProvider))
                        {
                            var icon = authProviderIcons[login.LoginProvider];
                            <i class="@icon.Icon"></i>
                            <text>&nbsp;</text>@login.ProviderDisplayName
                        }
                        else
                        {
                            @login.ProviderDisplayName
                        }
                    </td>
                    <td>
                        @if (Model.ShowRemoveButton)
                        {
                            <form id="@($"remove-login-{login.LoginProvider}")" asp-page-handler="RemoveLogin" method="post">
                                <div>
                                    <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                    <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                    <button type="submit" class="btn btn-danger btn-sm" title="Remove this @login.ProviderDisplayName login from your account">
                                        <i class="fa-solid fa-fw fa-trash-can"></i>
                                    </button>
                                </div>
                            </form>
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.OtherLogins?.Any() ?? false)
{
    <h4>Add External Login Providers</h4>
    <hr />
    <form id="link-login-form" asp-page-handler="LinkLogin" method="post" class="form-horizontal">
        <div id="socialLoginList" class="row p-1">
            @foreach (var provider in Model.OtherLogins)
            {
                <div class="col-md-3 col-sm-6 m-1 p-2">
                    @if (authProviderIcons.ContainsKey(provider.Name))
                    {
                        var icon = authProviderIcons[provider.Name];
                        <button
                            id="@($"link-login-button-{provider.Name}")"
                            type="submit"
                            class="btn btn-primary"
                            name="provider"
                            value="@provider.Name"
                            title="Log in using your @provider.DisplayName account"
                            style="@icon.Style"
                        >
                            <i class="@icon.Icon"></i>&nbsp;@provider.DisplayName
                        </button>
                    }
                    else
                    {
                        <button
                            id="@($"link-login-button-{provider.Name}")"
                            type="submit"
                            class="btn btn-primary"
                            name="provider"
                            value="@provider.Name"
                            title="Log in using your @provider.DisplayName account"
                        >
                            @provider.DisplayName
                        </button>
                    }
                </div>
            }
        </div>
    </form>
}
