@model RouteGeneratorViewModel
@{
    ViewData["Title"] = localizer["Utilities - Route Generator"];
}

<h1>@localizer["Utilities"]</h1>

<p>@Html.ValidationMessage("Utilities", new { @class = "text-danger" })</p>

<h4>@localizer["Route Generator"]</h4>

<p>
    @localizer["Leaflet based map to manually create, automatically generator, or optimize coordinate routes as well as boundary geofences."]
</p>

<br />
@Html.DisplayFor(model => model, "Breadcrumbs", new { Controller = "Utilities", ControllerText = localizer["Utilities"], CurrentPage = localizer["Route Generator"] })

<hr />

@await Html.PartialAsync("_GeofenceRouteGeneratorPartial", new { MapConfig = ViewData["MapConfig"], GeofenceNames = ViewData["GeofenceNames"] })

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}