@using ChuckDeviceController.Data.Entities
@model Account
@{
    ViewData["Title"] = "Account Details " + Model.Username;
}

<h1>Account Details</h1>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Failed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Failed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tutorial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tutorial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastEncounterTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastEncounterTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Username">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>