@using ChuckDeviceController.Data.Entities
@model Account
@{
    ViewData["Title"] = "Account Details " + Model?.Username;
}

<h1>Account Details</h1>

<p>@Html.ValidationMessage("Account", new { @class = "text-danger" })</p>

<br />
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Account" asp-action="Index">Accounts</a></li>
        <li class="breadcrumb-item active" aria-current="page">Account Details</li>
    </ol>
</nav>

<div>
    <h4>Account '@Model?.Username'</h4>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Username" class="btn btn-primary">
            <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit
        </a>
        <a asp-action="Delete" asp-route-id="@Model?.Username" class="btn btn-danger">
            <i class="fa-solid fa-trash"></i>&nbsp;Delete
        </a>
    </div>
</div>

<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Username)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Username)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Password)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Password)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Level)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Level)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Status)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Status)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Failed)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Failed)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.FailedTimestamp)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.FailedTimestamp)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Spins)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Spins)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.GroupName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.GroupName)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Tutorial)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Tutorial)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.LastEncounterTime)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.LastEncounterTime)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.LastEncounterLatitude)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.LastEncounterLatitude)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.LastEncounterLongitude)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.LastEncounterLongitude)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.LastUsedTimestamp)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.LastUsedTimestamp)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.FirstWarningTimestamp)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.FirstWarningTimestamp)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Warn)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Warn)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.WarnExpireTimestamp)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.WarnExpireTimestamp)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.WarnMessageAcknowledged)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.WarnMessageAcknowledged)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.SuspendedMessageAcknowledged)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.SuspendedMessageAcknowledged)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.WasSuspended)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.WasSuspended)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Banned)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Banned)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.CreationTimestamp)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.CreationTimestamp)
    </dd>
</dl>