@model Account
@{
    ViewData["Title"] = localizer["Edit Account {0}", Model.Username];
}

<h1>@localizer["Edit Account"]</h1>

<p>@Html.ValidationMessage("Account", new { @class = "text-danger" })</p>

<br />
@Html.DisplayFor(model => model, "Breadcrumbs", new { Controller = "Account", ControllerText = localizer["Accounts"], CurrentPage = localizer["Edit Account"] })

<h4>@localizer["Account '{0}'", Model.Username]</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-3">
        <input asp-for="Username" class="form-control" placeholder="Account username" readonly />
        <label asp-for="Username"></label>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    @Html.EditorForModel("EditAccountDetails")
    <div class="form-group">
        <input type="submit" value="@localizer["Save"]" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}