@using ChuckDeviceConfigurator.ViewModels
@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Accounts)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Accounts)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Assignments)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Assignments)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.AssignmentGroups)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AssignmentGroups)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Devices)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Devices)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Geofences)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Geofences)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Instances)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Instances)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.IvLists)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.IvLists)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Webhooks)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Webhooks)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Users)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Users)
    </dd>
</dl>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Gyms)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Gyms)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.GymDefenders)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.GymDefenders)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.GymTrainers)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.GymTrainers)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Pokemon)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Pokemon)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Pokestops)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Pokestops)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Incidents)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Incidents)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Cells)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Cells)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Spawnpoints)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Spawnpoints)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Weather)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Weather)
    </dd>
</dl>