@using ChuckDeviceConfigurator.Utilities
@using ChuckDeviceConfigurator.ViewModels
@model InstanceDetailsViewModel
@{
    ViewData["Title"] = "Instance Details " + Model?.Name;
}

<h1>Instance Details</h1>

<p>@Html.ValidationMessage("Instance", new { @class = "text-danger" })</p>

<br />
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Instance" asp-action="Index">Instances</a></li>
        <li class="breadcrumb-item active" aria-current="page">Instance Details</li>
    </ol>
</nav>

<div>
    <h4>Instance '@Model?.Name'</h4>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Name" class="btn btn-primary">
            <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit
        </a>
        <a asp-action="Delete" asp-route-id="@Model?.Name" class="btn btn-danger">
            <i class="fa-solid fa-trash"></i>&nbsp;Delete
        </a>
    </div>
</div>

<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Type)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Type)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Status)
    </dt>
    <dd class = "col-sm-10">
        @Html.Raw(Model?.Status)
    </dd>
    <dt class = "col-sm-2">
        Level Requirements
    </dt>
    <dd class = "col-sm-10">
        @($"{Model?.MinimumLevel}-{Model?.MaximumLevel}")
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Geofences)
    </dt>
    <dd class = "col-sm-10">
        @Html.Raw(string.Join("<br>", Model?.Geofences ?? new()))
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Data.AccountGroup)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Data.AccountGroup)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Data.IsEvent)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Data.IsEvent)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Devices)
    </dt>
    <dd class = "col-sm-10">
        @if ((ViewBag.Devices?.Count ?? 0) > 0)
        {
            <ul class="list-group">
                @foreach (var device in ViewBag.Devices)
                {
                    var status = Utils.GetDeviceStatus(device.LastSeen);
                    <li class="list-group-item">@Html.Raw($"{status} {device.Uuid}")</li>
                }
            </ul>
        }
        else
        {
            <p>None</p>
        }
    </dd>
</dl>