@using ChuckDeviceConfigurator.ViewModels
@using ChuckDeviceController.Data.Entities
@model ViewModelsModel<Instance>
@{
    ViewData["Title"] = "Instances";
}

<h1>Instances</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="checkbox">
    <label><input type="checkbox" asp-for="AutoRefresh" onchange="handleAutoRefresh(this);"> Auto Refresh</label>
</div>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Items[0].Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Items[0].Type)
            </th>
            <th scope="col">
                @*@Html.DisplayNameFor(model => model.Items[0].Status)*@
                Status (Actual/Possible|Total)
            </th>
            <th scope="col">
                Level
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Items[0].Geofences)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Items[0].DeviceCount)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.Raw(item.Status)
                </td>
                <td>
                    @item.MinimumLevel-@item.MaximumLevel
                </td>
                <td>
                    @string.Join(", ", item.Geofences)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceCount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Name">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Name">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
<script>
const handleAutoRefresh = (e) => {
    const isChecked = $(e).is(':checked');
    if (isChecked) {
        location.href = '@Url.Action("Index", new { autoRefresh = true })';
    } else {
        location.href = '@Url.Action("Index", new { autoRefresh = false })';
    }
};
</script>
}