@model ManageApiKeyViewModel
@{
    ViewData["Title"] = localizer["API Key Details {0}", Model.Name];
}

<h1>@localizer["API Key Details"]</h1>

<p>@Html.ValidationMessage("ApiKey", new { @class = "text-danger" })</p>

<br />
@Html.DisplayFor(model => model, "Breadcrumbs", new { Controller = "Plugin", ControllerText = localizer["API Keys"], Fragment = "apikeys", CurrentPage = localizer["API Key Details"] })

<div>
    <h4>@localizer["API Key '{0}'", Model.Name]</h4>
    <div>
        <button class="btn btn-primary" onclick="copyToClipboard('@(Model?.Key)');">
            <i class="fa-solid fa-copy"></i>&nbsp;@localizer["Copy Key"]
        </button>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">
            <i class="fa-solid fa-pen-to-square"></i>&nbsp;@localizer["Edit"]
        </a>
        <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">
            <i class="fa-solid fa-trash"></i>&nbsp;@localizer["Delete"]
        </a>
    </div>
</div>

<hr />
@Html.DisplayForModel("ApiKeyDetails")

<script src="/js/clipboard.js"></script>