@model Device

<div class="form-floating mb-3">
    <select asp-for="InstanceName" class="form-control" asp-items="@(new SelectList(ViewBag.Instances, "Name", "Name"))" placeholder="@localizer["Device instance name"]">
        <option value="" disabled selected>@localizer["Please select one"]</option>
    </select>
    <label asp-for="InstanceName"></label>
    <span asp-validation-for="InstanceName" class="text-danger"></span>
</div>
<div class="form-floating mb-3">
    <select asp-for="AccountUsername" class="form-control" asp-items="@(new SelectList(ViewBag.Accounts, "Username", "Username"))" placeholder="@localizer["Account username"]">
        <option value="" disabled selected>@localizer["Please select one"]</option>
    </select>
    <label asp-for="AccountUsername"></label>
    <span asp-validation-for="AccountUsername" class="text-danger"></span>
</div>