@model Geofence
@{
    ViewData["Title"] = "Geofence Details " + Model?.Name;
}

<h1>Geofence Details</h1>

<p>@Html.ValidationMessage("Geofence", new { @class = "text-danger" })</p>

<br />
@Html.DisplayFor(model => model, "Breadcrumbs", new { Controller = "Geofence", ControllerText = "Geofences", CurrentPage = "Geofence Details" })

<div>
    <h4>Geofence '@Model?.Name'</h4>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Name" class="btn btn-primary">
            <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit
        </a>
        <a asp-action="Delete" asp-route-id="@Model?.Name" class="btn btn-danger">
            <i class="fa-solid fa-trash"></i>&nbsp;Delete
        </a>
    </div>
</div>

<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Type)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Type)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Data.Area)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Data.Area)
    </dd>
</dl>