@using ChuckDeviceController.Data.Entities;
@model Geofence
@{
    ViewData["Title"] = "Geofence Details " + Model?.Name;
}

<h1>Geofence Details</h1>

<p>@Html.ValidationMessage("Geofence", new { @class = "text-danger" })</p>

<div>
    <h4>Geofence '@(Model?.Name)'</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data.Area)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Name" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>