@{
    var action = ViewData.ContainsKey("Action")
        ? ViewData["Action"]
        : "Index";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        @if (ViewData.ContainsKey("Fragment"))
        {
            if (ViewData.ContainsKey("Id"))
            {
                <li class="breadcrumb-item">
                    <a asp-controller="@ViewData["Controller"]" asp-action="@action" asp-fragment="@ViewData["Fragment"]" asp-route-id="@ViewData["Id"]">
                        @ViewData["ControllerText"]
                    </a>
                </li>
            }
            else
            {
                <li class="breadcrumb-item">
                    <a asp-controller="@ViewData["Controller"]" asp-action="@action" asp-fragment="@ViewData["Fragment"]">
                        @ViewData["ControllerText"]
                    </a>
                </li>
            }
        }
        else
        {
            if (ViewData.ContainsKey("Id"))
            {
                <li class="breadcrumb-item">
                    <a asp-controller="@ViewData["Controller"]" asp-action="@action" asp-route-id="@ViewData["Id"]">
                        @ViewData["ControllerText"]
                    </a>
                </li>
            }
            else
            {
                <li class="breadcrumb-item">
                    <a asp-controller="@ViewData["Controller"]" asp-action="@action">
                        @ViewData["ControllerText"]
                    </a>
                </li>
            }
        }
        <li class="breadcrumb-item active" aria-current="page">@ViewData["CurrentPage"]</li>
    </ol>
</nav>