@using ChuckDeviceConfigurator.Controllers
@model ProtoDataStatistics
@{
    ViewData["Title"] = "Data Entity Benchmarks";
}

<h1>Data Entity Benchmarks</h1>
<br />

<p>
    <a class="btn btn-danger btn-sm float-end" asp-action="Reset">Reset</a>
</p>
<br />

<div class="card text-center">
    <div class="card-header text-center"><b>Overview</b></div>
    <div class="card-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 p-3">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h3 class="pull-right"><i class="fa-solid fa-gauge-simple"></i></h3>
                            <h4 class="list-group-item-heading">Average Count</h4>
                            <p class="list-group-item-text">@((Model.AverageTime?.Count ?? 0).ToString("N0")) entities</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h3 class="pull-right"><i class="fa-solid fa-clock"></i></h3>
                            <h4 class="list-group-item-heading">Average Time</h4>
                            <p class="list-group-item-text">@(Model.AverageTime?.TimeS ?? 0)s</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 p-3">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h3 class="pull-right"><i class="fa-solid fa-gauge-simple"></i></h3>
                            <h4 class="list-group-item-heading">Protos Received</h4>
                            <p class="list-group-item-text">@(Model.TotalProtoPayloadsReceived.ToString("N0"))</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h3 class="pull-right"><i class="fa-solid fa-clock"></i></h3>
                            <h4 class="list-group-item-heading">Protos Processed</h4>
                            <p class="list-group-item-text">@(Model.TotalProtosProcessed.ToString("N0"))</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 p-3">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h3 class="pull-right"><i class="fa-solid fa-gauge-simple"></i></h3>
                            <h4 class="list-group-item-heading">Entities Processed</h4>
                            <p class="list-group-item-text">@(Model.TotalEntitiesProcessed.ToString("N0"))</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h3 class="pull-right"><i class="fa-solid fa-clock"></i></h3>
                            <h4 class="list-group-item-heading">Entities Upserted</h4>
                            <p class="list-group-item-text">@(Model.TotalEntitiesUpserted.ToString("N0"))</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<table id="table-data-benchmarks" class="table table-striped table-bordered dt-responsive nowrap">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Times[0].TimeS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Times[0].Count)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Times)
        {
            <tr>
                <th scope="row">
                    @Html.Raw(Utils.FormatBenchmarkTime(item.TimeS, isHtml: true))
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#table-data-benchmarks').DataTable({
                columnDefs: [
                    { responsivePriority: 0, targets: 0 },
                    { responsivePriority: 1, targets: 1 },
                    //{ responsivePriority: 2, targets: -1, orderable: false },
                ],
                order: [[0, 'asc']],
                stateSave: true,
                searching: true,
                paging: true,
                lengthMenu: [[25, 50, 100, 250, 500, -1], [25, 50, 100, 250, 500, 'All']],
                pagingType: 'full_numbers',
                colReorder: {
                    enable: true,
                    fixedColumnsLeft: 1,
                },
                fixedHeader: {
                    header: true,
                },
                responsive: {
                    //breakpoints: '',
                    details: true,
                },
                info: true,
            });
        });
    </script>
}