@using ChuckDeviceController.Common
@model ProtoDataStatisticsViewModel
@{
    ViewData["Title"] = "Data Entity Benchmarks";
}

<h1>Data Entity Benchmarks</h1>
<br />

<p>
    <a class="btn btn-danger btn-sm float-end" asp-action="Reset">Reset</a>
</p>
<br />

<div class="card text-center">
    <div class="card-header text-center"><b>Overview</b></div>
    <div class="card-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 p-3">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h3 class="pull-right"><i class="fa-solid fa-gauge-simple"></i></h3>
                            <h4 class="list-group-item-heading">Average Count</h4>
                            <p class="list-group-item-text">@((Model?.AverageTime?.Count ?? 0).ToString("N0")) entities</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h3 class="pull-right"><i class="fa-solid fa-clock"></i></h3>
                            <h4 class="list-group-item-heading">Average Time(sec)</h4>
                            <p class="list-group-item-text">@(Model?.AverageTime?.TimeS ?? 0)s</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 p-3">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h3 class="pull-right"><i class="fa-solid fa-gauge-simple"></i></h3>
                            <h4 class="list-group-item-heading">@Html.DisplayNameFor(model => model.TotalProtoPayloadsReceived)</h4>
                            <p class="list-group-item-text">@Html.DisplayFor(model => model.TotalProtoPayloadsReceived)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h3 class="pull-right"><i class="fa-solid fa-clock"></i></h3>
                            <h4 class="list-group-item-heading">@Html.DisplayNameFor(model => model.TotalProtosProcessed)</h4>
                            <p class="list-group-item-text">@Html.DisplayFor(model => model.TotalProtosProcessed)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 p-3">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h3 class="pull-right"><i class="fa-solid fa-gauge-simple"></i></h3>
                            <h4 class="list-group-item-heading">@Html.DisplayNameFor(model => model.TotalEntitiesProcessed)</h4>
                            <p class="list-group-item-text">@Html.DisplayFor(model => model.TotalEntitiesProcessed)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h3 class="pull-right"><i class="fa-solid fa-clock"></i></h3>
                            <h4 class="list-group-item-heading">@Html.DisplayNameFor(model => model.TotalEntitiesUpserted)</h4>
                            <p class="list-group-item-text">@Html.DisplayFor(model => model.TotalEntitiesUpserted)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<dl class="row">
    <div class="col">
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalDatabaseConnectionsCreated)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalDatabaseConnectionsCreated)</dd>
    </div>
</dl>

<dl class="row">
    <div class="col">
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalS2CellsReceived)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalS2CellsReceived)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalClientWeatherCellsReceived)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalClientWeatherCellsReceived)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalFortsReceived)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalFortsReceived)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalFortDetailsReceived)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalFortDetailsReceived)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalGymInfoReceived)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalGymInfoReceived)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalGymDefendersReceived)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalGymDefendersReceived)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalGymTrainersReceived)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalGymTrainersReceived)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalIncidentsReceived)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalIncidentsReceived)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalWildPokemonReceived)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalWildPokemonReceived)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalNearbyPokemonReceived)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalNearbyPokemonReceived)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalMapPokemonReceived)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalMapPokemonReceived)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalQuestsReceived)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalQuestsReceived)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalPokemonEncountersReceived)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalPokemonEncountersReceived)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalPokemonDiskEncountersReceived)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalPokemonDiskEncountersReceived)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalSpawnpointsReceived)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalSpawnpointsReceived)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalPlayerDataReceived)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalPlayerDataReceived)</dd>
    </div>
    <div class="col">
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalS2CellsProcessed)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalS2CellsProcessed)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalClientWeatherCellsProcessed)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalClientWeatherCellsProcessed)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalFortsProcessed)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalFortsProcessed)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalFortDetailsProcessed)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalFortDetailsProcessed)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalGymInfoProcessed)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalGymInfoProcessed)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalGymDefendersProcessed)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalGymDefendersProcessed)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalGymTrainersProcessed)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalGymTrainersProcessed)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalIncidentsProcessed)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalIncidentsProcessed)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalWildPokemonProcessed)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalWildPokemonProcessed)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalNearbyPokemonProcessed)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalNearbyPokemonProcessed)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalMapPokemonProcessed)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalMapPokemonProcessed)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalQuestsProcessed)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalQuestsProcessed)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalPokemonEncountersProcessed)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalPokemonEncountersProcessed)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalPokemonDiskEncountersProcessed)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalPokemonDiskEncountersProcessed)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalSpawnpointsProcessed)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalSpawnpointsProcessed)</dd>
        <dt class="col-sm-10">@Html.DisplayNameFor(model => model.TotalPlayerDataProcessed)</dt>
        <dd class="col-sm-2">@Html.DisplayFor(model => model.TotalPlayerDataProcessed)</dd>
    </div>
</dl>

<table id="table-data-benchmarks" class="table table-striped table-bordered dt-responsive nowrap">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Times[0].TimeS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Times[0].Count)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model?.Times ?? new List<DataEntityTime>())
        {
            <tr>
                <th scope="row">
                    @Html.Raw(Utils.FormatBenchmarkTime(item.TimeS, isHtml: true))
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#table-data-benchmarks').DataTable({
                columnDefs: [
                    { responsivePriority: 0, targets: 0 },
                    { responsivePriority: 1, targets: 1 },
                    //{ responsivePriority: 2, targets: -1, orderable: false },
                ],
                order: [[0, 'asc']],
                stateSave: true,
                searching: true,
                paging: true,
                lengthMenu: [[25, 50, 100, 250, 500, -1], [25, 50, 100, 250, 500, 'All']],
                pagingType: 'full_numbers',
                colReorder: {
                    enable: true,
                    fixedColumnsLeft: 1,
                },
                fixedHeader: {
                    header: true,
                },
                responsive: {
                    //breakpoints: '',
                    details: true,
                },
                info: true,
            });
        });
    </script>
}