@model Assignment
@{
    ViewData["Title"] = localizer["Edit Assignment {0}", Model.Id];
}

<h1>@localizer["Edit Assignment"]</h1>

<p>@Html.ValidationMessage("Assignment", new { @class = "text-danger" })</p>

<br />
@Html.DisplayFor(model => model, "Breadcrumbs", new { Controller = "Assignment", ControllerText = localizer["Assignments"], CurrentPage = localizer["Edit Assignment"] })

<h4>@localizer["Assignment '{0}'", Model.Id]</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-3">
        <select asp-for="DeviceUuid" class="form-control" asp-items="@(ViewBag.Devices)" placeholder="Assignment device UUID">
            <option value="" disabled>@localizer["Please select one"]</option>
        </select>
        <label asp-for="DeviceUuid"></label>
        <span asp-validation-for="DeviceUuid" class="text-danger"></span>
    </div>
    @Html.EditorForModel("EditAssignmentDetails")
    <div class="form-group">
        <input type="submit" value="@localizer["Save"]" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}