@using ChuckDeviceConfigurator.Localization
@model IvList
@{
    ViewData["Title"] = "IV List Details " + Model?.Name;
}

<h1>IV List Details</h1>

<p>@Html.ValidationMessage("IvList", new { @class = "text-danger" })</p>

<br />
@Html.DisplayFor(model => model, "Breadcrumbs", new { Controller = "IvList", ControllerText = "IV Lists", CurrentPage = "IV List Details" })

<div>
    <h4>IV List '@Model?.Name'</h4>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Name" class="btn btn-primary">
            <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit
        </a>
        <a asp-action="Delete" asp-route-id="@Model?.Name" class="btn btn-danger">
            <i class="fa-solid fa-trash"></i>&nbsp;Delete
        </a>
    </div>
</div>

<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.PokemonIds)
    </dt>
    <dd class = "col-sm-10">
        @if ((Model?.PokemonIds?.Count ?? 0) > 0)
        {
            <ul class="list-group">
                @* TODO: Limit Pokemon ids to 25ish *@
                @foreach (var pokemonId in Model?.PokemonIds ?? new())
                {
                    var pokeId = Convert.ToUInt32(pokemonId);
                    var icon = Utils.GetPokemonIcon(pokeId, "32", "32", html: true);
                    var name = Translator.Instance.GetPokemonName(pokeId);
                    <li class="list-group-item">@Html.Raw($"{icon}&nbsp;{name} (#{pokeId})")</li>
                }
            </ul>
        }
        else
        {
            <p>None</p>
        }
    </dd>
</dl>