@using ChuckDeviceController.Data.Entities;
@model IvList
@{
    ViewData["Title"] = "IV List Details " + Model?.Name;
}

<h1>IV List Details</h1>

<p>@Html.ValidationMessage("IvList", new { @class = "text-danger" })</p>

<div>
    <h4>IV List '@(Model?.Name)'</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PokemonIds)
        </dt>
        <dd class = "col-sm-10">
            @string.Join(", ", Model.PokemonIds.Take(10))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Name">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>