@model IvList
@{
    ViewData["Title"] = localizer["Edit IV List {0}", Model.Name];
    var pokemonIds = string.Join(",", (Model?.PokemonIds ?? new()));
}

<h1>@localizer["Edit IV List"]</h1>

<p>@Html.ValidationMessage("IvList", new { @class = "text-danger" })</p>

<br />
@Html.DisplayFor(model => model, "Breadcrumbs", new { Controller = "IvList", ControllerText = localizer["IV Lists"], CurrentPage = localizer["Edit IV List"] })

<form asp-action="Edit">
    <div class="pb-4">
        <div class="float-start">
            <h4>@localizer["IV List '{0}'", Model!.Name]</h4>
        </div>
        <div class="float-end">
            <a asp-action="Delete" asp-route-id="@Model?.Name" class="btn btn-danger btn-sm">
                <i class="fa-solid fa-trash"></i>&nbsp;@localizer["Delete"]
            </a>
            &nbsp;
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa-solid fa-floppy-disk"></i>&nbsp;@localizer["Save"]
            </button>
        </div>
    </div>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control" placeholder="IV list name" readonly />
        <label asp-for="Name"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group" hidden>
        <textarea id="PokemonIds" name="PokemonIds" class="form-control" rows="2" placeholder="IV list pokemon IDs">@pokemonIds</textarea>
        <label asp-for="PokemonIds"></label>
        <span asp-validation-for="PokemonIds" class="text-danger"></span>
    </div>
    @await Html.PartialAsync("_PokemonSelectorPartial", ViewData["Pokemon"])
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}