@using ChuckDeviceConfigurator.ViewModels
@using ChuckDeviceController.Data.Entities
@model ViewModelsModel<IvList>
@{
    ViewData["Title"] = "IV Lists";
}

<h1>IV Lists</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
    <button class="btn btn-success btn-sm" asp-action="Create">Create New</button>
</p>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].PokemonIds)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                <td>
                    @string.Join(", ", item.PokemonIds.Take(10))
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownGroup" data-bs-toggle="dropdown" aria-expanded="false">
                            Action
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownGroup">
                            <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Name">Edit</a></li>
                            <li><a class="dropdown-item" asp-action="Details" asp-route-id="@item.Name">Details</a></li>
                            <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Name">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>