@using ChuckDeviceController.Data.Entities
@model Device
@{
    ViewData["Title"] = "Device Details " + Model?.Uuid;
}

<h1>Device Details</h1>

<p>@Html.ValidationMessage("Device", new { @class = "text-danger" })</p>

<div>
    <h4>@(Model?.OnlineStatus) Device '@(Model?.Uuid)'</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Uuid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Uuid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstanceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstanceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUsername)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountUsername)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastHost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastHost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastSeen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastSeenTime)
        </dd>
        <dt class="col-sm-2">
            Last Location
        </dt>
        <dd class="col-sm-10">
            @Math.Round(Convert.ToDouble(Model?.LastLatitude ?? 0), 5),@Math.Round(Convert.ToDouble(Model?.LastLongitude ?? 0), 5)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Uuid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>