@model Device
@{
    ViewData["Title"] = localizer["Device Details {0}", Model.Uuid];
}

<h1>@localizer["Device Details"]</h1>

<div id="device-status"></div>

<p>@Html.ValidationMessage("Device", new { @class = "text-danger" })</p>

<br />
@Html.DisplayFor(model => model, "Breadcrumbs", new { Controller = "Device", ControllerText = localizer["Devices"], CurrentPage = localizer["Device Details"] })

<div class="mb-4">
    <div class="float-start">
        <h4>@Utils.GetDeviceStatus(Model?.LastSeen ?? 0) @localizer["Device"] '@Model?.Uuid'</h4>
    </div>
    <div class="float-end">
        <a asp-action="ForceAccountSwitch" asp-route-id="@Model?.Uuid" class="btn btn-warning btn-sm" onclick="return confirm('@(localizer["Are you sure you want to force device '{0}' to logout and switch accounts?", Model!.Uuid])');">
            <i class="fa-solid fa-repeat"></i>&nbsp;@localizer["Switch Account"]
        </a>
        <a asp-action="Edit" asp-route-id="@Model?.Uuid" class="btn btn-primary btn-sm">
            <i class="fa-solid fa-pen-to-square"></i>&nbsp;@localizer["Edit"]
        </a>
        <a asp-action="Delete" asp-route-id="@Model?.Uuid" class="btn btn-danger btn-sm">
            <i class="fa-solid fa-trash"></i>&nbsp;@localizer["Delete"]
        </a>
    </div>
</div>
<br />

<hr />
<div class="card mb-3">
    <div class="card-header">Device Actions</div>
    <div class="card-body">
        <a href="#" class="btn btn-warning btn-sm" onclick="restartGame('@Model?.LastHost');">
            <i class="fa-solid fa-power-off"></i>&nbsp;@localizer["Restart Game"]
        </a>
        <a href="#" class="btn btn-warning btn-sm" onclick="getScreenshot('@Model?.LastHost');">
            <i class="fa-solid fa-image"></i>&nbsp;@localizer["Get Screenshot"]
        </a>
    </div>
</div>

<img id="screenshot" src="#" class="d-none" />
@Html.DisplayForModel("DeviceDetails")

<script src="~/js/device-requests.js"></script>