@model ChuckDeviceController.Data.Entities.Device

@{
    ViewData["Title"] = "Device Details " + Model.Uuid;
}

<h1>Device Details</h1>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uuid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstanceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstanceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastHost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastHost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastSeen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastSeen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLatitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLatitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLongitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLongitude)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Uuid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>