@model Device
@{
    ViewData["Title"] = localizer["Edit Device {0}", Model.Uuid];
}

<h1>@localizer["Edit Device"]</h1>

<p>@Html.ValidationMessage("Device", new { @class = "text-danger" })</p>

<br />
@Html.DisplayFor(model => model, "Breadcrumbs", new { Controller = "Device", ControllerText = localizer["Devices"], CurrentPage = localizer["Edit Device"] })

<h4>@Utils.GetDeviceStatus(Model?.LastSeen ?? 0) Device '@Model?.Uuid'</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-3">
        <input asp-for="Uuid" class="form-control" placeholder="Device unique identifier" readonly />
        <label asp-for="Uuid"></label>
        <span asp-validation-for="Uuid" class="text-danger"></span>
    </div>
    @Html.EditorForModel("EditDeviceDetails")
    <div class="form-group">
        <input type="submit" value="@localizer["Save"]" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}