@using ChuckDeviceConfigurator.ViewModels
@using ChuckDeviceController.Data.Entities
@using ChuckDeviceController.Extensions
@model ViewModelsModel<Device>
@{
    ViewData["Title"] = "Devices";
}

<h1>Devices</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].OnlineStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Uuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].InstanceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].AccountUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].LastHost)
            </th>
            <th>
                Last Location
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].LastSeen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.OnlineStatus)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Uuid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstanceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountUsername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastHost)
                </td>
                <td>
                    @Math.Round(Convert.ToDouble(item.LastLatitude ?? 0), 5),@Math.Round(Convert.ToDouble(item.LastLongitude ?? 0), 5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastSeenTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Uuid">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Uuid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Uuid">Delete</a> |
                    <a asp-action="ForceAccountSwitch" asp-route-id="@item.Uuid">Force Account Switch</a>
                </td>
            </tr>
        }
    </tbody>
</table>