@using ChuckDeviceConfigurator.Utilities
@using ChuckDeviceController.Data.Entities
@model Webhook
@{
    ViewData["Title"] = "Delete Webhook " + Model?.Name;
}

<h1>Delete Webhook</h1>

<p>@Html.ValidationMessage("Webhook", new { @class = "text-danger" })</p>

<br />
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Webhook" asp-action="Index">Webhooks</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete Webhook</li>
    </ol>
</nav>

<h3>Are you sure you want to delete this webhook?</h3>
<div>
    <h4>Webhook '@Model?.Name'</h4>
    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Name" />
            <input type="submit" value="Yes" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">No</a>
        </form>
    </div>
</div>

<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Url)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Url)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Types)
    </dt>
    <dd class = "col-sm-10">
        @Html.Raw(string.Join("<br>", Model?.Types ?? new()))
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Delay)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Delay) seconds
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Geofences)
    </dt>
    <dd class = "col-sm-10">
        @(string.Join(", ", Model?.Geofences ?? new()))
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Enabled)
    </dt>
    <dd class = "col-sm-10">
        @Html.Raw(Utils.FormatEnabled(Model?.Enabled ?? false))
    </dd>
</dl>