@model Webhook
@{
    ViewData["Title"] = "Webhook Details " + Model?.Name;
}

<h1>Webhook Details</h1>

<p>@Html.ValidationMessage("Webhook", new { @class = "text-danger" })</p>

<br />
@Html.DisplayFor(model => model, "Breadcrumbs", new { Controller = "Webhook", ControllerText = "Webhooks", CurrentPage = "Webhook Details" })

<div>
    <h4>Webhook '@Model?.Name'</h4>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Name" class="btn btn-primary">
            <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit
        </a>
        <a asp-action="Delete" asp-route-id="@Model?.Name" class="btn btn-danger">
            <i class="fa-solid fa-trash"></i>&nbsp;Delete
        </a>
    </div>
</div>

<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Url)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Url)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Types)
    </dt>
    <dd class = "col-sm-10">
        @Html.Raw(string.Join("<br>", Model?.Types ?? new()))
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Delay)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Delay) seconds
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Geofences)
    </dt>
    <dd class = "col-sm-10">
        @(string.Join(", ", Model?.Geofences ?? new()))
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Enabled)
    </dt>
    <dd class = "col-sm-10">
        @Html.Raw(Utils.FormatBoolean(Model?.Enabled ?? false, html: true))
    </dd>
</dl>