@model CreateUserViewModel
@{
    ViewData["Title"] = "Create User";
}

<h1>Create User Account</h1>

<p>@Html.ValidationSummary("", new { @class = "text-danger" })</p>

<br />
@Html.DisplayFor(model => model, "Breadcrumbs", new { Controller = "User", ControllerText = "Users", CurrentPage = "Create User" })

<h4>User Account</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-sm col-lg-6">
                    <div class="form-floating mb-3">
                        <input asp-for="UserName" class="form-control" maxlength="255" placeholder="User account name" />
                        <label asp-for="UserName"></label>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm col-lg-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" maxlength="255" placeholder="User account email address" />
                        <label asp-for="Email"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm col-lg-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Password" type="password" class="form-control" placeholder="User account password" />
                        <label asp-for="Password"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm col-lg-6">
                    <div class="form-floating mb-3">
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder=Confirmed user account password"" />
                        <label asp-for="ConfirmPassword"></label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header"><b>Permissions</b></div>
                <div class="card-body">
                    @foreach (var role in Model.Roles)
                    {
                        <div class="form-check">
                            <input type="hidden" asp-for="@role.RoleId" />
                            <input type="hidden" asp-for="@role.RoleName" />
                            <input asp-for="@role.Selected" class="form-check-input" />
                            <label class="form-check-label" asp-for="@role.Selected">
                                @role.RoleName
                            </label>
                        </div>
                    }
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}