@using ChuckDeviceConfigurator.ViewModels
@model List<UserRolesViewModel>
@{
    ViewData["Title"] = "User Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // TODO: Pass default root username from controller
    var defaultUserName = "root";
}
<h1>User Accounts</h1>

<p>
    <a class="btn btn-success btn-sm" asp-action="Create">Create New</a>
</p>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <th scope="row">@user.UserName</th>
                <td>@user.Email</td>
                <td>@string.Join(", ", user.Roles.ToList())</td>
                <td>
                    <a class="btn btn-primary" asp-controller="User" asp-action="Manage" asp-route-userId="@user.UserId">Manage</a>
                    @if (user.UserName != @(defaultUserName))
                    {
                        <a class="btn btn-danger" asp-controller="User" asp-action="Delete" asp-route-userId="@user.UserId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>