@using ChuckDeviceConfigurator.ViewModels
@model ManageUserViewModel
@{
    ViewData["Title"] = "Manage User " + Model?.UserName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage User Account</h1>

<p>@Html.ValidationMessage("User", new { @class = "text-danger" })</p>

<br />
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="User" asp-action="Index">Users</a></li>
        <li class="breadcrumb-item active" aria-current="page">Manage User</li>
    </ol>
</nav>

<h4>Manage User Account '@(Model?.UserName)'</h4>
<hr />
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" maxlength="255" readonly />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" maxlength="255" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <br />
    <div class="card">
        <div class="card-header">
            <b>User Permissions</b>
        </div>
        <div class="card-body">
            @for (var i = 0; i < Model!.Roles.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.Roles[i].RoleId" />
                    <input type="hidden" asp-for="@Model.Roles[i].RoleName" />
                    <input asp-for="@Model.Roles[i].Selected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model.Roles[i].Selected">
                        @Model.Roles[i].RoleName
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary"
                   style="width:auto" />
            <a asp-action="Index" asp-route-id="@ViewBag.userId" class="btn btn-secondary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>