@using ChuckDeviceController.Data.Entities
@model AssignmentGroup
@{
    ViewData["Title"] = "Assignment Group Details " + Model?.Name;
}

<h1>Assignment Group Details</h1>

<p>@Html.ValidationMessage("AssignmentGroup", new { @class = "text-danger" })</p>

<br />
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="AssignmentGroup" asp-action="Index">Assignment Groups</a></li>
        <li class="breadcrumb-item active" aria-current="page">Assignment Group Details</li>
    </ol>
</nav>

<div>
    <div>
        <div class="float-start">
            <h4>Assignment Group '@(Model?.Name)'</h4>
        </div>
        <div class="float-end">
            <a asp-action="Edit" asp-route-id="@Model?.Name" class="btn btn-primary">Edit</a>
        </div>
    </div>
    <br />
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssignmentIds)
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model?.AssignmentIds ?? new List<uint>())
        </dd>
    </dl>
</div>