@{
    var geofenceNames = (IEnumerable<string>)(ViewData["GeofenceNames"] ?? new());
}

<link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
<link rel="stylesheet" href="~/lib/leaflet-draw/leaflet.draw.css" />
<link rel="stylesheet" href="~/lib/leaflet-locatecontrol/L.Control.Locate.min.css" />
<link rel="stylesheet" href="~/lib/easy-button/easy-button.css" />

<div class="mb-4 p-1">
    <div class="float-start">
        <div class="input-group">
            <div class="form-floating">
                <select id="geofences" class="form-select" style="width: 250px;">
                    @foreach (var geofenceName in geofenceNames)
                    {
                        <option value="@geofenceName">@geofenceName</option>
                    }
                </select>
                <label for="geofences">@localizer["Import Geofence"]</label>
            </div>
            <button type="button" class="btn btn-primary btn-sm" onclick="getGeofenceData();">
                @localizer["Import"]
            </button>
        </div>
    </div>
    <div class="float-end mt-2">
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exportModal">
            @localizer["Export Geofence"]
        </button>
    </div>
</div>
<br />
<br />
<div id="map" style="height: 600px;"></div>

@*
  TODO: Use just one modal for import and export
*@

@await Html.PartialAsync("_ImportGeofenceRouteModalPartial", new GeofenceRouteViewModal
{
    Title = localizer["Import Geofence"],
    Format = "json",
    Geofence = "",
    FormatChangedMethod = "importFormatChanged(this);",
    SubmitButtonText = localizer["Import"],
    SubmitButtonMethod = "importGeofence();",
})

@await Html.PartialAsync("_ExportGeofenceRouteModalPartial", new GeofenceRouteViewModal
{
    Title = localizer["Export Geofence"],
    Format = "json",
    Geofence = "",
    FormatChangedMethod = "exportFormatChanged(this);",
    SubmitButtonText = localizer["Copy to Clipboard"],
    SubmitButtonMethod = "exportGeofence();",
})

<script src="~/lib/leaflet/leaflet.js"></script>
<script src="~/lib/leaflet-draw/leaflet.draw.js"></script>
<script src="~/lib/leaflet-locatecontrol/L.Control.Locate.min.js"></script>
<script src="~/lib/leaflet-geometryutil/leaflet.geometryutil.js"></script>
<script src="~/lib/easy-button/easy-button.js"></script>
<script src="~/lib/turf/turf.min.js"></script>
<script src="~/js/clipboard.js"></script>
<script src="~/js/geofence-converters.js"></script>
<script src="~/js/geofence-generator.js"></script>
<script>
    const options = JSON.parse(`@Html.Raw(Model.MapConfig)`);
    initMap(false, options);
</script>