@using Microsoft.AspNetCore.Identity
@using ChuckDeviceConfigurator.Data
@using ChuckDeviceConfigurator.Extensions
@using ChuckDeviceController.Extensions.Json
@using ChuckDeviceController.Plugins
@inject SignInManager<ApplicationUser> SignInManager

@{
    var data = Html.RenderAction("GetPluginNavbarHeaders", "Plugin");
    var navbarHeaders = Convert.ToString(data)?.FromJson<List<NavbarHeader>>();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChuckDeviceConfigurator - @ViewData["Title"]</title>

    <link rel="icon" href="~/favicons/chuck.ico" type="image/x-icon" asp-append-version="true" />
    <link rel="apple-touch-icon" href="~/favicons/chuck.gif" sizes="180x180">
    <link rel="icon" href="~/favicons/chuck.png" type="image/png" sizes="32x32">
    <link rel="icon" href="~/favicons/chuck.png" type="image/png" sizes="16x16">
    <link rel="mask-icon" href="~/favicons/chuck.png" color="#5bbad5">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.1.1-web/css/all.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <a href="/" class="navbar-brand">
                    <img src="/favicons/chuck.gif" border="0" height="48">
                    <div class="text-wrap">Chuck Device Configurator</div>
                </a>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                if (navbarHeaders != null)
                {
                    navbarHeaders.Sort((a, b) => a.DisplayIndex.CompareTo(b.DisplayIndex));
                    <ul class="list-unstyled components">
                    @foreach (var header in navbarHeaders)
                    {
                        if (header.IsDropdown && (header?.DropdownItems?.Any() ?? false))
                        {
                            var sortedDropdownItems = header.DropdownItems.ToList();
                            sortedDropdownItems.Sort((a, b) => a.DisplayIndex.CompareTo(b.DisplayIndex));
                            <li class="nav-item">
                                <a href="#" data-toggle="collapse" data-bs-toggle="collapse" data-bs-target="#@(header.Text)Submenu" class="dropdown-toggle" role="button" aria-expanded="false">
                                    @Html.Raw(string.IsNullOrEmpty(header.Icon) ? "" : $"<i class='{header.Icon}'></i>")
                                    @header.Text
                                </a>
                                <ul class="collapse list-unstyled" id="@(header.Text)Submenu">
                                    @foreach (var dropdownHeader in sortedDropdownItems)
                                    {
                                        if (dropdownHeader.IsSeparator)
                                        {
                                            <li><hr class="dropdown-divider"></li>
                                        }
                                        else
                                        {
                                            <li class="nav-item">
                                                <a class="dropdown-item @(dropdownHeader.IsDisabled ? "disabled" : "")" asp-area="" asp-controller="@dropdownHeader.ControllerName" asp-action="@dropdownHeader.ActionName">
                                                    @Html.Raw(string.IsNullOrEmpty(dropdownHeader.Icon) ? "" : $"<i class='{dropdownHeader.Icon}'></i>")
                                                    @dropdownHeader.Text
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="@(header.IsDisabled ? "disabled" : "")" asp-area="" asp-controller="@header.ControllerName" asp-action="@header.ActionName">
                                    @Html.Raw(string.IsNullOrEmpty(header?.Icon) ? "" : $"<i class='{header.Icon}'></i>")
                                    @header?.Text
                                </a>
                            </li>
                        }
                    }
                    </ul>
                }
                <ul class="list-unstyled components">
                    <li class="nav-item">
                        <a href="/swagger" target="_blank">
                            <i class="fa fa-fw fas fa-file-alt"></i>
                            Swagger API
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/profiler/results" target="_blank">
                            <i class="fa fa-fw fa-chart-bar"></i>
                            Profiler
                        </a>
                    </li>
                </ul>
            }
            <partial name="_LoginPartial" />
        </nav>
        <div id="content">
            <button id="sidebarCollapse" type="button" class="navbar-btn" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">&copy; 2022 - ChuckDeviceController</p>

            <div class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto">
                &#10084;&#65039;&nbsp;
                <a asp-controller="Home" asp-action="About" class="text-decoration-none text-muted text-nowrap">
                    In loving memory of Chuckleslove, rest in peace brother
                </a>
            </div>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link px-2 text-muted" href="https://github.com/versx/ChuckDeviceController" target="_blank">
                        <i class="fa-brands fa-github"></i>
                        &nbsp;GitHub
                    </a>
                </li>
            </ul>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="~/lib/datatables-plugins/ellipsis.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    // Get current URL path and toggle 'active' class for sidebar and sidebar collapse/expand button
    const pathname = window.location.pathname;
    $('#sidebar > ul > li > a[href="' + pathname + '"]').parent().addClass('active');
    $('#sidebar > ul > li > ul > li > a[href="' + pathname + '"]').parent().addClass('active');
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active');
    });
</script>